
#topLinks,
#topSearch form,
#topSectionButtons,
#mainNav,
#helpFormSidebar,
.helpForm,
#suggestedContent,
#facebookStream,
#socialIcons,
.breadcrumbs,
footer,
#hideAllMenusButton,
.sectionPageList,
#topContactInfo
{
    display:none !important;
}

body, #main {
    margin: 10px 0;
    padding: 0;
}

header, body, #main, #middle, #container {
    background: #fff;
    box-shadow: none;
    color: #000;
}

#main, #container {
    width: auto;
}
#middle {
    margin-top: 10px !important;
}
#logo {
    width: 300px;
    display: block;
    margin: 0 auto;
}