/* Kids sub-stylesheet for CleanGrayLPL
*/


h1, h2, h3, h4, h5 {
    font-family: "Teen";
    font-weight: normal;
}

header {
    background: #8980ff;
}

#main {
    font-family: "Teen";
    box-shadow: 1px 1px 3px #111;
    font-size: 14pt;
}
/*
    #main h1 {
	font-size: 2.5em;
    }
    #main h2 {
	font-size: 2.1em;
    }
    #main h3 {
	font-size: 1.8em;
    }
    #main h4 {
	font-size: 1.5em;
    }
    #main h5 {
	font-size: 1.2em;
    }
*/
#middle {
    background: #505549;
}

.helpForm input[type="submit"] {
    background: #c0d5f8;
}

#helpFormSidebar, #helpFormSidebar h5, #teenTagCloud h5, #helpFormSidebar label
    {
    color: #eee;
    }
    #helpFormSidebar a {
	color: #b7eff7;
    }

#mainNav {
    background: #0a047f; /*#251104;*/
}
footer {
    background: #0c0850;
}

    #middle h5 {
	text-shadow: none;
	font-size: 1.5em;
    }

.meta {
    font-size: .8em;
    border-top: none;
    border-bottom: 3px double #aaa;
    padding-top: 0px;
}

#teenTagCloud {
    padding:10px;
    float: left;
}
    #teenTagCloud a {
	display: block;
	float: left;
	padding: 6px;
	background: #bcc0a3;
	border-radius: 3px;
	margin: 3px;
	text-decoration: none;
	color: #000;
	box-shadow: 2px 2px 2px #000;
    }
    #teenTagCloud a:hover {
	text-decoration: underline;
	background: #f3f8d6;
    }

/**************TABLET *********************/
@media only screen and (min-width: 450px) {

    header {
	background: url('i/teens/headBack.jpg') no-repeat #f2f2f2;
	background-position: right top;
	background-size: cover;
    }


}
/*************LAPTOP **********************/
@media only screen and (min-width: 800px) {

    header {
	background-size: 100%;
    }

    #mainNav {
	height: 53px;
    }

    #mainNav ul {
	background: transparent;
    }

    #mainNav li:hover a {
	color: #b7eff7;
    }
    #mainNav ul ul li {
	border: none;
    }

    #mainNav > li:hover > a,
    #mainNav li.current-menu-item,
    #mainNav > .current-menu-parent,
    #mainNav > .current-menu-ancestor,
    #mainNav > .current-page-ancestor,
    #mainNav > li > ul,
    #mainNav > li.current-menu-item ul,
    #mainNav > li.current-menu-item a,
    #mainNav .current-menu-parent ul,
    #mainNav .current-page-ancestor ul,
    #mainNav .current-menu-ancestor ul,
    #mainNav > .current-menu-ancestor a,
    #mainNav ul .current_page_item a
    {
	background: #111;
	color: #fff;
    }

    #mainNav > li:hover > a {
	border-radius: 0px;
    }


    .resultRow img {
	max-height: 120px;
    }
    #middle {
	background: #ddd;
    }

    #teenTagCloud {
	width: 22%;
    }

}
/*************FULL SCREEN *****************/
@media only screen and (min-width: 1200px) {

    body {
	background: url('i/teens/px_by_Gre3g.jpg');
    }

}
