/* Kids sub-stylesheet for CleanGrayLPL
*/


h1, h2, h3, h4, h5 {
    font-family: "Miltonian Tattoo", serif;
}

header {
    background: #f0e686;
}

#main {
    font-family: Marmelad;
    border-radius: 0px;
    font-size: 12pt;
}

#middle {
    background: #ddd;
}

.helpForm input[type="submit"] {
    background: #c0d5f8;
}

#helpFormSidebar, #helpFormSidebar h5, #helpFormSidebar label
    {
    Xcolor: #eee;
    }
    #helpFormSidebar a {
	Xcolor: #b7eff7;
    }

#mainNav {
    background: #136bbc;
}
footer {
    background: #04345c;
}

    #middle h3 {
	padding: 10px 0;
	text-align: center;
    }

.breadcrumbs {
    font-size:.8em;
    color: #777;
    margin-top: 0;
    padding-top: 0;
    text-align: right;
    }
    .breadcrumbs a {
	color: #666;
    }


/**************TABLET *********************/
@media only screen and (min-width: 450px) {

    header {
	background: url('i/kids/headBack.jpg') no-repeat #f2f2f2;
	background-position: right top;
	background-size: cover;
    }


}
/*************LAPTOP **********************/
@media only screen and (min-width: 800px) {

    header {
	background-size: 100%;
    }

    #mainNav {
	height: 59px;
    }
    #mainNav ul,
    #mainNav > li:hover > a,
    #mainNav > li.current-menu-item,
    #mainNav > .current-menu-parent,
    #mainNav > .current-menu-ancestor,
    #mainNav > .current-page-ancestor,
    #mainNav > li > ul,
    #mainNav > li.current-menu-item ul,
    #mainNav .current-menu-parent ul,
    #mainNav .current-page-ancestor ul,
    #mainNav .current-menu-ancestor ul
    {
	background: #7fc4ff;
	border-radius: 0px;
    }
    #mainNav > li {
	margin-top: 1px;
    }

    #mainNav > li.current-menu-item {
	border-radius: 0px;
    }
    .resultRow img {
	max-height: 120px;
    }

}
/*************FULL SCREEN *****************/
@media only screen and (min-width: 1200px) {

    body {
	background: url('i/kids/px_by_Gre3g.jpg');
    }

}
