@import url(http://fonts.googleapis.com/css?family=Nobile:400,400italic,700,700italic|Lora:400,400italic,700,700italic);

/* html5 reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

body { font-size: 10pt;
    font-family: 'Nobile', sans-serif;
    background: url("i/mainBack.jpg") repeat-y -12% 0 #fff;
    padding: 20px 3% 20px 40px;
    }

a{ text-decoration: underline;
    color: #0073a0;}
a:hover { text-decoration: none; }
a.reverse, a.reverse { text-decoration: none; }
a.reverse:hover { text-decoration: underline; }

h1 {
    font-size: 2em;
    font-family: Lora, serif;
    margin: 3px 0 18px;
    }
h2 {
    font-size: 1.6em;
    font-family: Lora, serif;
    margin: 12px 0 12px;
    color: #333;
    }
h3 {
    font-size: 1.4em;
    font-family: Lora, serif;
    font-style: italic;
    margin: 5px 0 7px 8px;
    color: #333;

	}
h4 {
    font-size: 1.2em;
    color: #333;
    font-family: Lora, serif;
    }
h5, h6 {
    font-size: 1em;
    color: #063c51;
    margin: 5px 5px 5px 0;
    letter-spacing: 1px;
    }
h6 {
    color: #c67f10;
}
p {
    font-size: 1em;
    line-height: 1.2em;
    margin: 5px 0;
    padding: 5px 0 5px 8px;
    }
hr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #999;
    box-shadow: 0px 0px 4px #888;
    margin: 15px 0;
}

ul, ol {
    margin: 6px 0 6px 40px;
}
li {
    padding: 3px 0;
}

sup{
    font-size: .8em;
    top: -.5em;
}
sub {
    font-size: .8em;
    top: .3em;
}

acronym, abbr {
    cursor: help;
    border-bottom: dashed 1px orange;

}
pre, code {
    margin: 10px;
    padding: 10px 20px;
}
blockquote {
    background: #ddd;
    padding: 3px;
    margin: 4px;
    border-radius: 5px;
    width: 65%;
}
input[type="text"], input[type="email"], input[type="password"], textarea {
    padding: 10px 5px;
    border: 1px solid #999;
    border-radius: 3px;
    background: #fff;
    font-size: .9em;
    text-shadow: 1px 1px 1px #ccc;
    font-family: nobile, sans-serif;
    width: 250px;
    }
input[type="submit"], a.goButton {
    text-decoration: none;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 7px;
    background: #bad3d8;
    font-size: .9em;
    text-shadow: 1px 1px 1px #ccc;
    font-family: nobile, sans-serif;
    cursor: pointer;
    margin: 10px 0;
    display: inline-block;
    background: rgb(239,239,239); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(239,239,239) 0%, rgb(206,206,206) 71%, rgb(209,209,209) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(239,239,239)), color-stop(71%,rgb(206,206,206)), color-stop(100%,rgb(209,209,209))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(239,239,239) 0%,rgb(206,206,206) 71%,rgb(209,209,209) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(239,239,239) 0%,rgb(206,206,206) 71%,rgb(209,209,209) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(239,239,239) 0%,rgb(206,206,206) 71%,rgb(209,209,209) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(239,239,239) 0%,rgb(206,206,206) 71%,rgb(209,209,209) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
}
input[type="submit"]:hover, a.goButton:hover
{
    text-decoration: underline;
    color: #000;
    xbackground: #9ceaf8;
}
input[type="submit"]:action, a.goButton:action {
    box-shadow: inset 2px 2px 3px #bbb;
}
select {
    padding: 3px;
    border: 1px solid #999;
    font-size: 1em;
    width: 250px;
    padding-top: 6px;
}
option {
    padding: 3px 0;
}

optgroup {
    background: #333;
    color: #fff
}

optgroup option{
    padding-left: 9px;
    background: #fff;
    color: #000;
}

fieldset {
    padding: 10px;
    margin: 20px 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}
legend {
    font-weight: bold;
}
label {
    cursor: pointer;
}
.bold {
    font-weight: bold;
}

.hilite {
    background: #fffaa6;
}

.error {
    color: #a80101;
}
.success {
    color: #3d7500;
}
.required {
    font-weight:bold;
}
.required:after{
    content: ' *';
}

.alignleft {
    float: left;
    padding-left: 0px;
}
.alignright {
    float:right;
    padding-right: 0px;
}

.showBorders td {
    border: #dfe0e1 solid 1px;
}

p img {
    box-shadow: 0px 0px 6px #888;
    background: #fff;
    padding: 5px;
}
img.alignleft {
    float: left;
    margin: 0 8px 2px 0;
}
img.alignright {
    margin: 0 0 2px 8px;
    float: right;
}

img.aligncenter {
    margin: 0 auto;
    float: none;
    display:block;
}

.noShadow, .no-shadow, .noshadow {
    box-shadow:none !important;
    text-shadow: none !important;
}

.alignleft {
    text-align: left;
}
.alignright {
    text-align: right;
}
.aligncenter {
    text-align: center;
}

table {
    margin: 8px 0;
}
th, td {
    padding: 6px 10px;
}
th {
    border-bottom: 1px solid #555;
    border-left: 1px solid #aaa;
    text-align: center;
}
th:first-child {
    border-left: none;
}