/*
Theme Name: Clean Gray LPL 2.0
Author: Jake Paris | JMC Creative
Author URI: https://jakeparis.com
Description: theme for Lewiston Public Library in Maine
Version: 2.2.4
*/

/* html5 reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

:root {
    --fontSerif: Lora, serif;
    --fontSans: Prompt, sans-serif;
    --fontScript: "Shadows Into Light Two", cursive;
}

* { position: relative; }

body { 
    font-size: 11pt;
    font-family: var(--fontSans);
    background: hsl(0, 0%, 86%);
}

form #salutation {
    /* honeypot */
    display: none !important;
}

a{ 
    text-decoration: underline;
    color: #B84A0A; /* hsl(22, 85%, 46%); /*#f37125;*/
}
a:hover { text-decoration: none; }
a.reverse, a.reverse { text-decoration: none; }
a.reverse:hover { text-decoration: underline; }

h1, h2, h3, h4, h5 {
    font-family: var(--fontSerif);
}

.nothome h1 {
    text-transform: uppercase;
    color: #064A76;
    font-weight: 700;
    font-size: 2em;
    margin: 3px 0 18px;
}

.home h1 {
    font-size: 20px;
    text-align: center;
    margin: 18px auto;
    max-width: 225px;
    padding: 12px 20px;
    line-height: 30px;
    background: #f1b08e;
    border: 2px solid black;
    border-radius: 30px;
}

#home-banner {
    padding: 18px;
    min-height: 240px;
}

.home h1 .welcome {
    color: black;
}

.home h1 img {
    margin-top: 10px;
}

h2 {
    font-size: 1.6em;
    margin: 12px 0 12px;
    color: #6a685f;
    font-weight: 700;
    font-style: italic;
    }

h2.sectionHeader, .frontCol h2.sectionHeader {
    text-transform: uppercase;
    color: #064A76;
    font-weight: 700;
    font-size: 2em;
    margin: 3px 0 18px;
    }

h3 {
    font-family: var(--fontSans);
    text-transform: uppercase;
    font-size: 1.4em;
    font-style: italic;
    margin: 5px 0 7px 8px;
    color: #B84A0A;

	}
h4 {
    font-size: 1.2em;
    color: #000;
    font-weight: 700;
    margin: .9em 0 .3em;
    }
h5 {
    color: #B84A0A;
    font-size: 1.5em;
    margin: .9em 0 .3em;
	font-weight: 700;
    font-family: var(--fontScript);
} 
h5._light {
    color: #f0d18c;
}
h6 {
    font-size: 1em;
    color: #B84A0A;
    margin: 5px 5px 5px 0;
    }
h6 {
    color: #B84A0A;
}
p {
    font-size: 1em;
    line-height: 1.2em;
    margin: 5px 0;
    padding: 5px 0 5px 8px;
    }
hr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #999;
    margin: 15px 0;
}

ul, ol {
    margin: 6px 0 6px 40px;
}
li {
    padding: 3px 0;
}

sup{
    font-size: .8em;
    top: -.5em;
}
sub {
    font-size: .8em;
    top: .3em;
}

acronym, abbr {
    cursor: help;
    border-bottom: dashed 1px orange;

}
pre, code {
    margin: 10px;
    padding: 10px 20px;
}
blockquote {
    background: #ddd;
    padding: 3px;
    margin: 4px;
    border-radius: 5px;
    width: 65%;
}
input[type="text"], input[type="email"], input[type="password"], textarea {
    padding: 10px 5px;
    border: 1px solid #999;
    border-radius: 3px;
    background: #fff;
    font-family: var(--fontSans);
    width: 250px;
    color: black !important;
    }
input[type="submit"], a.goButton, a.goLink, a.buttonLink {
    text-decoration: none;
    padding: 10px;
    border: none;
    border-radius: 2em;
    /* font-size: .9em; */
    font-family: var(--fontSans);
    cursor: pointer;
    margin: 10px 0;
    display: inline-block;
    background: #5D7389;
	color: white;
}
input[type="submit"]:hover, a.goButton:hover
{
    color: #000;
}
input[type="submit"]:action, a.goButton:action {
    box-shadow: inset 2px 2px 3px #bbb;
}
select {
    padding: 3px;
    border: 1px solid #999;
    font-size: 1em;
    width: 250px;
    padding-top: 6px;
}
option {
    padding: 3px 0;
}

optgroup {
    background: #333;
    color: #fff
}

optgroup option{
    padding-left: 9px;
    background: #fff;
    color: #000;
}

fieldset {
    padding: 10px;
    margin: 20px 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}
legend {
    font-weight: bold;
}
label {
    cursor: pointer;
}
.bold {
    font-weight: bold;
}

.hilite {
    background: #fffaa6;
}

.hideFromMobile {
    display: none;
}

.error {
    color: #a80101;
}
.success {
    color: #3d7500;
}
.clear {
    clear: both;
}
.required {
    font-weight:bold;
}
.required:after{
    content: ' *';
}

.alignleft {
    float: left;
    padding-left: 0px;
}
.alignright {
    float:right;
    padding-right: 0px;
}

.showBorders td {
    border: #dfe0e1 solid 1px;
}

#message {
    padding: 20px;
    background: #edffb6;
    border-radius: 5px 5px 5px 5px;
    font-size: 1.2em;
}

/***STRUCTURE***/

header {
    background: #F3F3F2;
    padding-bottom: 30px;
}

#logo {
    margin: 15px auto 0px;
    width: 90%;
    display: block;
}

#topLinks {
    margin: 10px 0;
}
#topLinks a {
	text-decoration: none;
	display: block;
    padding: 10px 0px;
	width: 30%;
	float:left;
	margin: 5px 1px;
	text-align: center;
	height: 2em;
    font-size:  1.2em;
    text-shadow: 0 0 4px hsl(0, 0%, 100%); /* hsl(0, 0%, 100%); */
    color: #B34B0F; /* darkened theme color for accessi. hsl(22, 85%, 46%) */
    /* font-weight: bold; */
}
#topLinks a:first-child {
	margin-left: 4%;
}

#topSearch {
    margin: 0 10px;
    clear: both;
}

#topSearch form {
    padding: 0 5px;
    margin: 0 0 10px;
    border-radius: 3px;
    background: #fff;
    /* text-shadow: 1px 1px 1px #ccc; */
    overflow: hidden;
    z-index: 99;
}
#topSearch input[type="text"] {
	border: none;
	font-size: 1.2em;
	font-weight: normal;
	margin: 7px;
	width: 75%;
	padding: 0px;
	border-radius: 0px;
}
#topSearch.built-in-search input[type="text"] {
    display:  block;
}
#multi-search input[type="submit"] {
    padding:  5px 8px;
}

#multi-search .lms-search-options {
    padding:  0 1em 1em;
}

#topSearch input[type="text"]:focus {
    outline:none;
    font-style: normal;
}
#topSearch button[name="searchbutton"] { 
    /* using submit button did not let IE show a background img */
	background: url('i/mag-glass.png');
	/* background-size: cover; */
	border: none;
	cursor: pointer;
	height: 30px;
	width: 30px;
	position: absolute;
	top: 6px;
	right: 6px;
	margin: 0px;
}

    #openSearchFeatures {
	font-size: .9em;
	text-shadow: none;

	position: absolute;
	top: 4px;
	right: 55px;
    }
    #openSearchFeatures a {
	color: #ddd;
    }

    #searchFeatures {
	display: none;
	margin: 15px;
	border-top: 1px dashed gray;
	text-shadow: none;
    }
    #searchFeatures label {
	cursor: pointer;
	padding: 10px;
	display: block;
	border-bottom: 1px dotted #ddd;
    }

#topContactInfo {
    line-height:  1.5em;
}
#topContactInfo span, #topContactInfo #clearmeonsize{
    display: block;
    height: 0px;
    overflow: hidden;
    margin-bottom: 2px;
}

/*
 * THIS PART ADDS A COLORED BACKGROUND TO THE LINKS
 * ON HOVER. I'M NOT CONVINCED THE STYLE IS
 * RIGHT
 */ /* * /
#topSectionButtons img {
    border-radius: 20px;
    padding: 20pxpx;
}

#topSectionButtons a[href*="kids"] img:hover {
    background: #a7d4ba;
}
#topSectionButtons a[href*="teens"] img:hover {
    background: #ebcbe7;
}
#topSectionButtons a[href*="libraryla"] img:hover {
    background: #fce6d4;
}
/* */

#topSectionButtons {
	display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#topSectionButtons h5 {
	font-size: 1.8em;
	margin-inline: .7em;
    float: left;
}
#topSectionButtons ._right {

    & h5 {
        font-size: 1.2rem;

        & a {
            display: block;
            padding: .2em .8em;
        }
    }
}

#topSectionButtons ._left h5 {
    float: left;
    margin-inline: .7em;
}
#topSectionButtons ._left h5:first-of-type {
    margin-left: 0;
}

#topSectionButtons a {
	color: inherit;
	text-decoration: none;
}

body.home #hideAllMenusButton {
    display:none;
}

body.nothome #hideAllMenusButton {
    display: block;
    padding: 9px;
    margin: 0;
    background: #3fc7ff;
    color: #000;
    text-align: center;
    border-radius: 4px;
}

#mainNav {
    background: #30192e;
    font-family: var(--fontSerif);
    font-size: 1.2em;
    margin: 0px;
}
    #mainNav li, [role="navigation"] li {
		list-style-type: none;
    }
    #mainNav > li {
        background: #30192e;
    }

    #mainNav a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 15px;
	border-bottom: 1px solid #555;
    }


#mainNav {
    font-family: var(--fontSerif);
}
    #mainNav .bold {
	font-weight: normal;
    }
    /* hide all the non-current submenus */
    #mainNav ul {
	display: none;
  }
  #mainNav li {
    padding: 0px; /* because of the weird submenu stuff */
  }
  #mainNav > li > ul {
    padding: 4px 0 0;
    margin: 0;
  }
    #mainNav ul ul li {
	font-size: .8em;
	font-family: var(--fontSans);
    }

    #mainNav ul .current-menu-item, #mainNav ul .current_page_item {
	background: #c8fc6e;
    }
    #mainNav ul .current-menu-item a, #mainNav ul .current_page_item a {
	color: #000;
    }

    #mainNav > li.current-menu-item ul, #mainNav .current-menu-parent ul, #mainNav .current-menu-ancestor ul {
	display: block;
	background: #262626;
    }
    #mainNav > li.current-menu-item ul li a, #mainNav .current-menu-parent ul li a, #mainNav .current-menu-ancestor ul li a {
	padding: 6px;
    }

    #mainNav a[href="#"], li a[href="#"] {
	display: none;
    }
    /* hide the column delimiters */
    #mainNav > li > ul > li > a, [role="navigation"] > li > ul > li > a {
	display: none !important;
    }
    /*** END MENU ***/

    #mainVisible {
        display: flex;
        margin: 0;
        margin-top: 50px;
        margin-left: 20px;
        border-top: 1px solid #ccc;
        padding-top: 20px;
    }

    #mainVisible li {
        max-width: 215px;
        padding-right: 20px;
    }

    #mainVisible > li.menu-item > a {
        font-size: 20px;
        margin-bottom: 20px;
        color: 064A76;
        text-transform: uppercase;
    }

    #mainVisible li ul {
        margin: 10px 0 0 0;
        
    }




#middle {
	background: #fff;
    overflow: auto;
    clear:both;
}

#content {
    clear:both;
    overflow: auto;
    background: #fff;
    padding: 20px 5px 5px;
}
.meta {
    font-size: .9em;
    border-top: 1px dashed gray;
    margin-top: 20px;
    padding-top: 5px;
    clear:both;
}
.breadcrumbs {
    line-height: 2em;
}

.popularPages {
   margin: 3px;
   clear: both;
   overflow: auto;
}
.popularPages li {
    float: left;
    list-style-type: none;
    /* width: 31%; */
    margin: 0 3px;
    font-size: 14px;
}
.popularPages a {
    display: block;
    padding: 10px;
    background: #d17147;
    color: #eee;
    /* height: 3em; */
    text-align: center;
	text-decoration: none;
    font-size:  1.2em;
    white-space: nowrap;
    border-radius: 10px;
}

.frontCol {
    margin: 30px 2%;
    display: none;
}
.frontCol h2.sectionHeader {
    padding: 0px 0 4px 8px;
    font-style: normal;
    /* background: #e9e9e9; */
}
.frontCol h2.sectionHeader img {
    margin-right: 9px;
    margin-top: -6px;
    vertical-align: top;
    height: 35px;
	filter: opacity(.5);
}
.frontCol h2 a {
	color: inherit;
}
.frontCol h5 {
	font-size: 2em;
}

.item-description {
    margin-left: 42%;
}

.filterEventsLinks {
    font-size: .9em;
    text-align: left;
    border-bottom: 1px solid #ccc;
}
    .filterEventsLinks a {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	padding: 3px 8px;
    background: inherit;
    background: #ECC26F;
    color: #000;
    text-decoration: none;
    }
    .filterEventsLinks a.filterEventsLinksOn {
		background: #fff;
		color: #000;
		text-decoration: none;
        border-bottom: 1px solid #fff;
    }
    .filterEventsLinksInitial {
		background: #ECC26F;
		box-shadow: none;
	}

/* #eventsCol h1 {
	color: #003b51;
	text-transform: uppercase;
} */

.singleEvent, .singleNews {
    overflow: auto;
    margin: 10px 0;
}
.eventDate {
    font-weight: normal;
    color:#B84A0A;
}

.singleEvent h2, .singleNews h2 {
    font-size: 18px;
    font-style: normal;
    padding: 4px 0 2px 0px;
    margin: 0;
}
.singleEvent h2 a, .singleEvent h2 a, .singleNews h2 a {
    color: #000;
    text-decoration: none;
    }
    .singleEvent h2 a:hover, .singleNews h2 a:hover{
	text-decoration: underline;
    }
.singleEvent img , .singleNews img {
    max-width: 30%;
    height: auto;
    float: left;
    padding: 0 .7em .7em 5px;
    z-index: 50; /* to move in front of .eventDate */
}
.frontCol h2 {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}   
.singleNews h4 {
    margin-top: .1em;
}
.singleNews, .singleEvent {
    padding: 4px 0;
    border-bottom: 1px dotted gray;
}
.singleNews img {
    float: left;
    max-width: 30%;
    height: auto;
    padding: 0 1em .7em 0;

}
/*** CONTENT AREA ***/

#main {
    clear: both;
    overflow: auto;
    padding: 15px 10px;
    background: #fff;
}
/* .hasSubPageList {

} */

#contentWrap {
    overflow: auto;
}

#main p, #main h2, #main h5 {
    background: transparent;
}

#main p img {
    /* box-shadow: 0px 0px 6px #888; */
    /* background: #fff; */
    padding: 5px;
}
img.alignleft {
    float: left;
    margin: 0 1.1em 2px 0;
}
img.alignright {
    margin: 0 0 2px 1.1em;
    float: right;
}

img.aligncenter {
    margin: 0 auto;
    float: none;
    display:block;
}

.noShadow, .no-shadow, .noshadow {
    box-shadow:none !important;
    text-shadow: none !important;
}

.alignleft {
    text-align: left;
}
.alignright {
    text-align: right;
}
.aligncenter {
    text-align: center;
}

#main table {
    margin: 8px 0;
}
#main th, #main td {
    padding: 6px 10px;
}
#main th {
    border-bottom: 1px solid #555;
    border-left: 1px solid #aaa;
    text-align: center;
}
#main th:first-child {
    border-left: none;
}

/*** END CONTENT AREA ***/


.helpForm {
    padding: 8px 15px 15px;
}

.helpForm label, .helpForm input[type="text"], .helpForm input[type="email"], .helpForm textarea {
    display: block;
    width: 100%;
    margin-left: 0;
}
.helpForm label {
    font-family: var(--fontSerif);
    margin: 10px 0 0;
    font-size: .9em;
    color: #333;
}
.helpForm input[type="text"], .helpForm input[type="email"], .helpForm textarea {
    font-family: var(--fontSans);
    font-size: .9em;
    padding: 8px 5px;
    background: #eee;
}


    .ajaxLoader {
	display: none;
	position: absolute;
	top: 100px;
	left: 130px;
	margin: 0 auto;
    }
    .helpForm .error {
	font-style: italic;
    }
    #helpFormMailingLists {
	display: none;
	padding-left: 10px;
    }
    #helpFormMailingLists label {
	display: inline;
    }

    #chatSplash img {
		border-radius: 7px;
		border: 1px solid #aaa;
		margin: 10px 0;
		opacity: .8;
    }
    #chatSplash:hover img {
	opacity: 1;
    }

    #homeBanners {
	overflow: hidden;
	margin: 10px auto 0;
	height: 250px;
	width: 200px;
    display: none;
    }
    #homeBanners ul {
	width: 5000px;
	overflow: auto;
	margin: 0;
    }
    #homeBanners li {
	overflow: auto;
	float: left;
	padding: 0;
    }
    #homeBanners img {
	border-radius: 7px;
	border: 1px solid #aaa;
	max-height: 225px;
	max-width: 200px;
    }

    .bx-controls-direction {
	padding: 1px 5px;
    }
    .bx-prev, .bx-next {
	font-size: .8em;
	color: #737373;
	text-decoration: none;
	position: absolute;
    }
    .bx-prev {
	left: 0;
    }
    .bx-next {
	right: 0;
    }
    .bx-prev:hover, .bx-next:hover {
	color: blue;
	text-decoration: underline;
    }
    .bx-prev:before {
	content: '< ';
    }
    .bx-next:after {
	content: ' >';
    }


#suggestedContent {
    padding: 8px;
}
.suggestedSingle {
    overflow: auto;
    margin: 5px 0;
    padding-bottom: 8px;
    color: #333;
}
.suggestedSingle img {
    float:left;
    padding: 1px 4px 11px 4px;
    margin: 0px 1em 4px 0;
    border: 1px solid #999;
    background: #333;
    max-height: 94px;
    max-width: 75px;
    width: auto;
    height: auto;
}
    .suggestedSingle img[src*=".png"] {
	/* clear background for all pngs */
	background: transparent;
	border: none;
    }
.suggestedSingle p {
    text-align: justify;
    margin-top: 0px;
    overflow: auto;
    line-height: 1.3em;
}

#bookCarousel {
    display: none;
}

footer {
    color: #fff;
    background: #6a685f;
    padding: 20px 3%;
    overflow: auto;
    line-height: 1.5em;
}
footer p {
    line-height: 1.5em;
}
footer ul {
    margin-left: 15px;
}

footer ul.no-bullet {
    list-style-type: none;
    margin-left: 8px;
}

footer a {
    color: #FAEED1;
}

footer h2 {
	font-size: 1.7em;
	color: #f0d18c;
}

.good-reads-widget h2 {
	font-family: var(--fontScript);
	font-weight: 400;
	font-style: initial;
    background: transparent;
}

#aweBox {
	padding: 3 px;
}
#facebookStream {
    display: none;
}
#socialIcons {
	margin: 1.4em auto;
	clear: both;
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(3, 85px);
	grid-template-rows: 85px;
}
.social-icon {
	--iconSize: 55px;
    width: var(--iconSize);
    height: var(--iconSize);
    display: inline-block;
    background-position: center;
    background-size: contain;
	background-repeat: no-repeat;
	border-radius: var(--iconSize);
	border: 3px solid white;
	transition: .2s transform;
	transform: rotate(0);
	margin: 0 auto;
}
.social-icon:hover {
	transform: rotate(12deg);
}
.social-icon[href*="goodreads.com"] {
	background-image: url('i/social-goodreads.png');
}
.social-icon[href*="youtube.com"] {
	background-image: url('i/social-youtube.png');
}
.social-icon[href*="facebook.com"] {
	background-image: url('i/social-facebook.png');
}
.social-icon[href*="twitter.com"] {
	background-image: url('i/social-twitter.png');
}
.social-icon[href*="pinterest.com"] {
	background-image: url('i/social-pinterest.png');
}
.social-icon[href*="instagram.com"] {
	background-image: url('i/social-instagram.png');
}

/* can be deleted */
#socialIcons img {
    width: 65px;
    margin: 0 12px;
}


#copyright {
    font-size: .8em;
    text-align: center;
    color: #EBEBEB;
    clear:both;
}

.resultRow {
    overflow: hidden;
    padding: 5px 10px;
}
    .resultRow img {
	background: none;
	float: right;
	max-width: 40%;
	height: auto;
	border: 1px solid #fff;
	margin-left: 5px;
    }
    .resultRow p {
	line-height: 1.7em;
    background: transparent;
    }
    .resultRow a {
	color: #1a235f;
	text-decoration: none;
	border-bottom: 1px solid silver;
    }
    .resultRow a:hover {
	border-bottom: none;
    }
.odd {
    background: #e6e6e6;
}
.singleResult p {
    padding-left: 10px;
    border-left: 1px solid #ddd;
}

#importantMsg {
    padding: 1.1em;
    background: #ffdc4a;
	color: black;
	font-weight: 200;
    text-align: center;
}
#importantMsg a {
	color: inherit;
}

    .pageForm label {
	display: block;
	margin-top: 15px;
    }
    .pageForm input[type="text"], .pageForm input[type="email"], .pageForm textarea {
	display: block;
	width: 95%;
    }

#audioPopup {
    display: none;
}

#ajaxFoundBook {
    background: #fbf19f;
    max-width: 500px;
    padding: 13px;
    display: none;
    z-index: 90;
    position: absolute;
    left: 35px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #aaa;
}

    #ajaxFoundBook ul {
	margin-left: 20px;
    }

#closeMatchingItems {
    position: absolute;
    top:10px;
    right: 10px;
    font-size: 1.3em;
    text-decoration: none;
    color: #000;
}

#qpchatwidget {
    height: 80% !important;
}

#chatWrap {
    max-width: 400px;
    height:420px;
    overflow:visible;
}

.bookLetterIframe {
    width: 100%;
    height:1000px;
    /* border:1px solid silver; */
}
.bookLettersSignupForm {
    border: 1px solid gray;
    padding: 9px;
    margin: 10px 5px;
}

.sidebar {
    padding:  1em;
}

#sidebar {
    margin-left: 75%;
}

.eventWrap {
    padding-right: 40px;
    max-width: 33%;
}

.eventList :last-child {
    padding-right: 0px;
}

.eventWrap h2 a {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-style: normal;
}

.eventWrap img {
    width: 100%;
    max-height: 350px;
}

.eventWrap p {
    padding: 6px 0;
}

.sectionPageList {
    list-style-type: none;
    padding: 1em 0;
    margin: .5em;
    line-height: 1.3em;
    z-index: 60;
    font-size: .9em;
}
.sectionPageList > li:first-child {
    margin: 3px 0;
    font-style: italic;
}

/* registration/renewals form */

#secondRegQuestions {
    display: none;
}

.choicesBlock {
    margin: 8px 12px 20px;
}

/* GoodReads
 */
.gr_grid_container {
  /* customize grid container div here. eg: width: 500px; */
  background: inherit;
}

.gr_grid_book_container {
  /* customize book cover container div here */
  float: left;
  padding-right: 18px;
  background: inherit;
  height: 100px;
}

.gr_grid_branding {
    display: none;
}

#multi-search .choose-search-wrap label.option-selected {
	border-color: none !important;
	background: #e8b34b !important;
}

a.skip-link {
    text-indent: -800px;
    display: block;
    line-height: 1px;
}

a.skip-link:focus {
    line-height: 30px;
    text-indent: 0px;
    border:1px solid black;
}

#logo-thumb,#mobile-search-link, #mobile-account-link, #mobile-map-link, #mobile-menu {
    display: none;
}

#contactFoot {
    clear: both;
}

a.button {
    color: white;
    background: #B84A0A;
    padding: 6px 10px;
    border-radius: 10px;
    text-decoration: none;
    float: right;
}

a.button:hover {
    opacity: 90%;
}

/**************TABLET *********************/
@media only screen and (min-width: 450px) {

    .hideFromMobile {
	display: block;
    }

    

    header {
	    overflow: hidden;
    }

    #home-calendar-wrap {
        clear: both;
    }

    .eventWrap img {
        max-height: 650px;
    }

    #logo {
        display: inline-block;
        max-width: 50%;
        margin: 1em;
    }

    #topLinks {
	float: right;
	clear: right;
	text-align: right;
	padding-right: 25px;
    }
    #topLinks a {
	text-decoration: underline;
	border: none;
	padding: 5px;
	float: none;
	text-align: right;
	width: auto;
	height: auto;
	margin: 0px;
    }
    #topLinks a:hover {
	text-decoration: none;
    }
    #topLinks a:first-child {
	margin-left: 0px;
    }

    #topContactInfo {
    	/* float: right; */
    	/* max-width: 45%; */
    	margin: 5px 3% 0 0;
    	text-align: center;
    	text-shadow: 1px 1px 1px #999;
    }
    #topSectionButtons {
	    /* float:left; */
	    margin: 0 0 0 3%;
    }
	#topSectionButtons img {
	    margin: 5px 0 5px 15px;
	}


    #searchFeatures label {
	padding: 1px;
	display: inline;
	border-bottom: none;
    }


    #mainNav {
		z-index: 70;
    }
    #mainNav ul {
		overflow: auto;
    }
    #mainNav ul ul li {
    	border-left: 1px solid #444;
		width: 100px;
		height:50px;
    	border: 1px solid #444;
    }
    #mainNav li {
		padding: 3px 0;
		float: left;
    }

    #mainNav a {
		border: none;
		padding: 15px 10px;
	}
    #mainNav a:hover {
		text-decoration: underline;
    }

    #mainNav .bold {
		font-weight: bold;
    }


    #main {
		padding: 20px;
		background: #fff;
		background-size: 180px;
    }

    .popularPages {
	float:left;
	width: 50%;
    }
    .popularPages li {
	width: auto;
    }
    .popularPages a {
		color: #B34B0F; /* hsl(22, 85%, 46%);#d17147;*/
		/* font-weight: bold; */
		height: auto;
		background: transparent;
		padding: 8px;
    }

    .singleEvent h2, .singleEvent p, .singleEvent a {
        background: transparent;
    }

    .singleEvent img {
	max-width: 150px;
	height: auto;
    }
    .singleNews img {
	max-width: 30%;
	height: auto;
    }
    .helpForm {
	float:left;
	clear: left;
	width: 50%;
    }


    #bookCarousel {
		display:block;
		/* background: #30192e; */
		height: 170px;
		padding: 20px 20px 0 4px;
		width: auto;
    }
    #bookCarousel div {
		height: 100%;
		white-space: nowrap;
		overflow: auto;
		padding-bottom: 0px;
    }
    #bookCarousel img {
		box-shadow: none;
		margin: 0 15px;
		border: 1px solid #222;
		height: 120px;
    }
    #bookCarousel img:hover {
		border: 1px solid #fff;
    }

    #seeMoreCarousel {
		position: absolute;
		right: 0px;
		top: -5px;
		width: 40px;
		text-align: right;
		font-weight: bold;
		z-index: 80;
		padding: 12px;
        display: none;
		/* background-color: #30192e; */
		border-radius: 0 0 0 10px;
    }
	#seeMoreCarousel {
		/* background: #30192e; */
	}
    #seeMoreCarousel a {
		color: #bedde9;
    }


    #contactFoot {

    }

    #aweBox {
        max-width:50%;
    }

    #facebookStream {
	display: block;
	float: right;
    max-width:50%;
	padding-left: 5px;
	overflow: auto;
	margin-bottom: 15px;
	background: #ededed;
    }

    #importantMsg {
		text-align: center;
    }

    .resultRow img {
	max-width: none;
	width: auto;
	max-height: 80px;
	height: auto;
    }
    .sectionPageList {
	right: 0px;
    }
}
/*************LAPTOP **********************/
@media only screen and (min-width: 800px) {

    #logo {
        max-width: 25%;
        float: left;
        margin: 20px 0 0 24px;
    }
    
    .eventWrap img {
        max-height: 350px;
    }

    #topLinks a {
	display: inline;
	padding: 0 20px;

    }
    #topSearch {
        width: 66%;
        float: right;
        margin: 16px 10px 0 0;
        clear: none;
    }

    #topSearch input[type="text"] {
	    width: 90%;
    }
    #topContactInfo {
        float: none;
        max-width: none;
        text-align: right;
        margin: 0 3px;
        text-shadow: none;
    }
    #topContactInfo span {
		display: inline;
    }
    #topSectionButtons {
		clear:both;
    }
    #topSectionButtons img {
		display: inline;
    }

    body.nothome #hideAllMenusButton, body.home #hideAllMenusButton {
	display: none;
    }

    /*** MENU ***/

    #mainNav {
	height: 59px;
	clear: both;
    }
    #mainNav a {
	padding: 15px 9px;
	}
    #mainNav li:hover a{ /* all links in menu */
	color: #1e0e38;
    }
    #mainNav > li:hover > a,
    #mainNav > li.current-menu-item,
    #mainNav > .current-menu-parent,
    #mainNav > .current-menu-ancestor,
    #mainNav > .current-page-ancestor { /* just main tab links on hover or on submenu open */
		border-radius: 3px 3px 0 0;
		background: #f0d18c;
    }
    #mainNav > li { /* just main tabs */
	position: static;
	margin-left: 2%;
    }
    #mainNav > li.current-menu-item,
    #mainNav > li.current-menu-parent,
    #mainNav > li.current-menu-ancestor {
	margin-top: 0px;
    }

    #mainNav > li > ul { /* just blue wide box */

		position: absolute;
		left: -9999px;
		margin: 0px;
		position: absolute;
		width: 100%;
		border-bottom: 2px solid #444;
		background: #f0d18c;
		color: #1e0e38;
    }
    #mainNav > li > ul {
	padding: 0px;
    }
    #mainNav > li > ul > li { /* just sub column of four */
	float: left;
    }
    #mainNav a[href="#"] {
		cursor:default;
		display: inline;
    }
    #mainNav a[href="#"]:hover {
	text-decoration: none;
    }
    /* hide the column delimiters */
    #mainNav > li > ul > li > a {
	display: none;
    }
    #mainNav ul {
		background: #f0d18c;
		display: block;
		overflow: auto;
    }
    #mainNav ul ul {
	margin-left: 50px;
    }
	#mainNav ul ul li {
	    float: none;
	    padding: 5px 0;
	    border: none;
	    height: auto;
	    border-bottom: dotted 1px silver;
	    width: auto;
        background: inherit;

	}
	/*
	#mainNav ul li:nth-child(4n+0) {
	    x target the fourth li element for breaking to the next column
	}
	*/
	#mainNav ul a {
	    color: #1e0e38;
	    padding: 0 3px;
	    display: inline;
	}
    #mainNav ul .current-menu-item, #mainNav ul .current_page_item {
		background: #e8b34b;
		cursor: pointer;
    }
    #mainNav ul .current-menu-item a {
		text-decoration: none;
    }

    #mainNav ul .current-menu-item {
	list-style-type: disc;
    }

    #mainnav ul a:hover,
    #mainNav > li.current-menu-item a,
    #mainNav > .current-menu-ancestor a,
    #mainNav .current-page-ancestor a,
    #mainNav .current-menu-parent a {
	color: #000;
    }
    #mainNav li:hover ul, #mainNav li:focus-within ul{
	left: 0px;
	z-index: 100;
    }
    #mainNav > li.current-menu-item ul,
    #mainNav .current-menu-parent ul,
    #mainNav .current-page-ancestor ul,
    #mainNav .current-menu-ancestor ul{
	z-index: 100;
	/* left: 0px; */
	background: #f0d18c;
    }

    /*** END MENU ***/

    .frontCol {
        /* SUPER hack, to make the sliding banners have space under them. Hope
           this theme dies real soon!
        */
        margin-bottom: 7em;
        display: none;
    }

    .sidebar {
        width: 25%;
        box-sizing:  border-box;
        float: right;
    }
    .sectionPageList {

    }

/* for music cd sampler * /
    #audioPopup {
	display: block;
	position: absolute;
	right: 16px;
	bottom: -40px;
	border-radius: 5px;
	height: 63px;
    }
    #audioPopup p {
	font-size: .9em;
	margin: 0;
	padding: 2px 0;
    }
    #audioPopup p a {
	text-decoration: none;
	color: #006287;
    }
    #audioPopup a:hover {
	text-decoration: underline;
    }
    #audioPopup audio {
	border-radius: 2px;
    }
/* */
    #main {
		width: 75%;
		border-radius: 0 0 4px 0;
		float: left;
		padding: 40px 3% 40px 5%;
		min-height: 300px;
		box-sizing: border-box;
		font-size: 1.2em;
    }

    #content {
		padding: 30px 10px 5px 25px;
    }

    .home #content {
        padding: 0;
    }

    .home #mejpFilters {
        text-align: right;
        margin-bottom: -24px;
        z-index: 50;
        background: none;
    }

    #home-banner {
        min-height: 350px;
        background-size: cover;
        background-position: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .home-tiles {
        display: flex;
        margin-top: 0px;
        margin-bottom: 50px;
    }

    .home-tile {
        width: 33%;
        font-size: 30px;
        font-weight: bold;
        padding: 100px 30px;
        margin-right: 30px;
        color: #fff;
        text-align: center;
        background-color: #064A76;
        text-decoration: none;
        border-radius: 20px;
    }

    .home-tiles :first-child {
        background-color: #B84A0A;
    }

    .home-tiles :last-child {
        background-color: #887044;
        margin-right: 0px;
    }

    .home-tile:hover {
        opacity: 90%;
    }

    #home-calendar-wrap {
        margin: 20px;
    }


    .breadcrumbs {
	line-height: 1.3em;
    }

    .frontCol {
	width: 28%;
	float: left;
	margin-top: 0;
	max-height: 500px;
	overflow: hidden;
    }
    #eventsCol {
	/* padding: 5px; */
	border: 1px solid #fff;
    }
    #eventsCol:hover {
	/* overflow: auto;
	border: 1px solid silver; */
    }
    .singleEvent, .singleNews {
	margin-right: 16px;
    }
    #eventsCol:hover .singleEvent {
	/* margin-right: 0px; */
    }

    .singleNews.full-width .item-description {
        margin-left: 160px;
    }

    #eventsCol:first-child {
	width: 25%;
	margin-top: 14px;
    }
    #eventsCol:first-child:hover {
	overflow: visible;
    }
    .eventDate {
    }
    .popularPages {
	clear: left;
	width: auto;
	float:none;
    }
    .popularPages li  {
	float: none;
	width: auto;
	margin: 0px;
	padding: 0px;
    }
    .popularPages a {
	background: none;
	padding: 2px 0 0 10px;
	border-bottom: 1px solid #dfdfdf;
	text-align: left;
	text-decoration: none;
	line-height: 2em;
    }
    .popularPages a:hover {
	background: #333;
	color: #eee
    }

    .frontCol h2 {
	background: none;
    }
    .frontcol h2 img {
	width: 35px;
	top: 6px;
    }
    .singleEvent img {
	max-width: 40%;
    
	height: auto;
    }
    .singleNews img {
        max-width: 40%;
    	height: auto;
    }
    .helpForm {
        float:left;
        padding-top: 25px;
        width: 21%;
        clear: none;
    }
    .helpForm input[type="text"], .helpForm input[type="email"], .helpForm textarea {
        border: 0;
    }
    #contentWrap p, #contentWrap span, #contentWrap h3  {
        background: transparent;
    }
    #suggestedContent {
	clear: both;
	width: 100%;
	margin: 20px 0px;
	padding: 0px;
    }
    #suggestedContent h2 {
	margin: 0 0 10px 20px;
    }
    .suggestedSingle {
	float: left;
	width: 45%;
	padding: 0 20px;
    }
    .suggestedSingle a {
	font-weight: bold;
	text-decoration: none;
    }
    .suggestedSingle a:hover {
	text-decoration: underline;
    }



    .resultRow {
	padding: 20px 10px;
    }
	.resultRow img {
	    max-height: 98px;
	    width: auto;
	}


    .pageForm {
	margin: 0 20px 10px 0;
    }
    .pageForm input[type="text"], .pageForm input[type="email"], .pageForm textarea {
	width: 60%;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
    p#copyright {
        grid-column: 1 / 3;
    }
}
/*************FULL SCREEN *****************/
@media only screen and (min-width: 1200px) {

    body { 
		/* background: url('i/px_by_Gre3g.png'); */
    }

    #container {
		background: #fff; /*hsl(49 5% 90%);*/
		width: 1200px;
		margin: 0 auto;
    }
   /*  #topLinks {
	   font-weight: bold;
    } */
    #topLinks a {
	text-decoration: none;
    }
    #topLinks a:hover {
	text-decoration: underline;
    }
    #topcontactInfo {
	text-align: left;
    }
    #topContactInfo #clearmeonsize {
	display: inline;
    }
    #topSectionButtons {
	   margin: 196px 0 -10px 25px;
    }
    #topSectionButtons h5 {
        margin-top:  0;
        margin-bottom:  0;
    }
    #topSectionButtons img {
	margin-left: 20px;
	}
    #mainNav a {
	padding: 15px 35px;
	}

    .helpForm {
	width: 22%;
	padding-left: 12px;
    }

    .frontCol {
	max-height: 720px;
    }
    .frontCol h2 img {
	/* height: 45px; */
	}

    .popularPages a {
	line-height: 3.3em;
	height: 3.3em;
    }

    #homeBanners {
	width: 227px;
	height: 335px;
    }
    #homeBanners img {
	max-height: none;
	max-width: none;
    }

}

@media only screen and (max-width: 799px) {

    #mainNav,
    #topSearch,
    #logo,
    #topLinks,
    #topSectionButtons,
    #mobile-search,
    #topContactInfo,
    body.nothome #hideAllMenusButton,
    #homeBanners,
    #mainVisible,
    .frontCol,
    .meta {
        display: none;
    }
    #eventsCol {
        flex-direction: column;
    }
    
    a.button {
        margin-right: 10px;
    }

    h2.sectionHeader {
        margin-left: 10px;
        margin-top: 20px;
    }

    .singleNews.full-width {
        margin: 0 10px;
    }

    .home-tiles {
        display: none;
    }

    .eventWrap {
        max-width: 100%;
        padding-right: 0px;
        margin-bottom: 40px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }

    .eventWrap h2, .eventWrap p {
        padding: 0px 10px;
    }

    #more-purchases {
        margin-top: 20px;
    }

    #popular-pages h5 {
        margin-left: 2%;
    }

    .item-description {
        margin-left: 32%;
    }
    
    .frontCol {
        clear: both;
    }
    .home #content {
        padding: 0px;
    }

    #home-banner {
        display: block;
    }
    #contentWrap p img {
        width: 100%;
        height: auto;
        padding: 0px;
    }

    #topSearch input[type="text"] {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 10px;
    }

    #logo-thumb {
        display: inline;
        height: 40px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 4px;
    }

    

    #mobile-search-icon, #mobile-account-icon, #mobile-map-icon {
        width: 26px;
        margin-top: 18px;
        margin-right: 30px;
    }

    #topSearch {
        border-top: 1px solid #ccc;
        margin: 0;
    }

    #mobile-search-link, #mobile-account-link, #mobile-map-link, #mobile-menu {
        display: block;
        float: right;
    }

    #mobile-menu-nav {
        display: none;
        border: 1px solid black;
    }

    header {
        /* background: #fff; */
        border-bottom: 1px solid #ccc;
        padding: 0px;
        
    }

    #mobile-menu-icon {
        margin-top: 14px;
        margin-right: 16px;
    }

    #topSearch form {
        background: none;
        margin: 0;
    }
    #topSearch input[type="text"] {
        width: 70%;
    }

    #topSearch input[type="submit"] {
        padding: 10px;
        -webkit-appearance: none;
    }
    #topSearch .filter-group {
        flex-wrap: wrap;
    }
    /* this section hides nav menus on mobile (other than current area) */
    body.nothome #mainNav > li,
    body.nothome #topLinks,
    body.nothome #topContactInfo,
    body.nothome #topSectionButtons {
	/* display: none; */
    }
    body.nothome #mainNav li.current-menu-item,
    body.nothome #mainNav li.current-menu-parent,
    body.nothome #mainNav li.current-menu-ancestor {
	display: block;
    }
}

@media(max-width:799px){
    .show-800-up {
        display: none !important;
    }
}
@media(min-width:800px){
    .hide-800-up {
        display: none !important;
    }
    #popular-pages {
        display: none;
    }
}

.nf-response-msg {
    padding: 2em;
    background: hsl(120, 85%, 89%);
    font-weight: bold;
    font-size: 1.1em;
}

@media(max-width:449px){
    #more-purchases {
        display: none;
    }
}

.index-results-paging {
    overflow: auto;
    display: flex;
    justify-content: space-around;
    gap: 1em;
}
.index-results-paging a {
    color: #1a235f;
    text-decoration: none;
    background: hsl(49.09deg 22.66% 70.95%);
    border-radius: 3px;
    padding: .5em 1.3em;
    text-align: center;
}
.index-results-paging a:hover {
    text-decoration: underline;
}
.index-results-paging a:empty {
    display: none;
}


/* Styles for Library Multi Search plugin
 */
#multi-search div.searchtype-options .filter-group {
	align-items: normal; /* unset "center" */
}
#multi-search div.searchtype-options .filter-group-label {
	margin-top: 3px;
}
#multi-search input[type="checkbox"] {
	margin-top: 3px;
}
#multi-search div.choose-search-wrap input[name="searchsite"] {
	display: initial; /* override plugin's display:none */
	margin-top: -4px;
}


/** Jp Multi Events plugin
*/
.mejp-upcoming-events.events-list-type-short .mejp-event {
    background: hsl(0,0%,97%);
    padding: 1em;
  }
  .mejp-upcoming-events.events-list-type-short .mejp-event .mejp-ev-title {
    font-size: 1.2em;
    font-style: normal;
    padding: 4px 0 2px 0;
    text-transform: none;
  }
  .mejp-upcoming-events.events-list-type-short .mejp-event .mejp-ev-title a {
    text-decoration: none;
  }
  .mejp-upcoming-events.events-list-type-short .mejp-event .mejp-ev-title a:hover {
    text-decoration: underline;
  }
  .mejp-upcoming-events.events-list-type-short .mejp-event .mejp-ev-datetime {
    float: right;
    color: inherit;
    font-style: normal;
  }

  /* End Jp Multi Events plugin
  */
